

<body>
  <h1>Shoe Store</h1>
  <hr />

  <h2>Edit Brand: @Model.GetName()</h2>
  <form action="/store/edit/@Model.GetId()" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <input name="store-id" type="hidden" value="@Model.GetId()">
    <label for="store-name">Store name</label>
    <input id="store-name" name="store-name" type="text">
    <button type="submit">Submit</button>
  </form>
  <h4><a href="/">Back to main page</a></h4>
</body>
