

<body>
  <h1>Shoe Store</h1>
  <hr />
  <h1>Add new store</h1>
  <form action="/store/new" method="post">
    <label for="store-name">Brand name</labe>
      <input id-"store-name" name="store-name" type="text">
      <button type="submit">Add</button>
  </form>

  </h4><a href="/">Back to main page</a></h4>
</body>
